html/xmlSchema15.xml

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
 
 <xs:element name="cabecera">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="emisor" />
        <xs:element ref="receptor" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="fecha" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="carta">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="encabezado" />
        <xs:element ref="texto" />
      </xs:sequence>
      <xs:attribute name="respuesta" use="optional" default="no">
		<xs:simpleType>
			<xs:restriction base="xs:NMTOKEN">
				<xs:enumeration value="si"/>
				<xs:enumeration value="no"/>
			</xs:restriction>
		</xs:simpleType>
	  </xs:attribute>
	</xs:complexType>
  </xs:element>

  <xs:element name="email">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="cabecera" />
		<xs:element ref="asunto" minOccurs="0"/>
        <xs:element ref="texto" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="respuesta" use="optional" default="no" >
	  <xs:simpleType>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="si"/>
			<xs:enumeration value="no"/>
		</xs:restriction>
	  </xs:simpleType>
	  </xs:attribute>
	</xs:complexType>
  </xs:element>

  <xs:element name="emisor" type="xs:string"/>


  <xs:element name="encabezado">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="emisor" />
		<xs:element ref="receptor" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="fecha" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="fecha" type="xs:string"/>
  <xs:element name="asunto" type="xs:string"/>
  <xs:element name="mensaje">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="email" />
        <xs:element ref="carta"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="receptor" type="xs:string"/>
  <xs:element name="texto">
    <xs:complexType mixed="true">
		<xs:choice maxOccurs="unbounded" minOccurs="0">
			<xs:element name="saludo" type="xs:string"/>
		</xs:choice>
	</xs:complexType>
  </xs:element>

</xs:schema>